In [12]:
pip install pyspark

Collecting pyspark
  Using cached pyspark-3.5.1.tar.gz (317.0 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7 (from pyspark)
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488532 sha256=0c5de5b0205936b2564411acc9e768c74fd7955533d8b6af5a2f160bf5e0d855
  Stored in directory: c:\users\shaikpervez\appdata\local\pip\cache\wheels\da\78\6d\54350e0243f65f77dccf6ebe2ed5559faf6900559e904fb957
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
import sys
print(sys.version)

3.8.19 (default, Mar 20 2024, 19:55:45) [MSC v.1916 64 bit (AMD64)]

In [137]:
import mysql.connector
from pyspark.sql import SparkSession
# export PYSPARK_PYTHON=C:/Users/ShaikPervez/AppData/Local/Programs/Python/Python38/python.exe

In [138]:
spark = SparkSession.builder.appName("MySQL Connection").getOrCreate()

In [139]:
host="localhost"
port=3306
database="Customers"

In [140]:
mysql_url=f"jdbc:mysql://{host}:{port}/{database}"

In [141]:
mysql_properties = { "user" :"pervez", "password" :"password@123", "driver":"com.mysql.cj.jdbc.Driver"}

In [142]:
table_name="Customers_data"

In [143]:
print("JDBC URL : ",mysql_url)
print("MySQL Properties : ",mysql_properties)

JDBC URL :  jdbc:mysql://localhost:3306/Customers
MySQL Properties :  {'user': 'pervez', 'password': 'password@123', 'driver': 'com.mysql.cj.jdbc.Driver'}

In [253]:
try :
    df = spark.read.jdbc(url=mysql_url,table=table_name, properties=mysql_properties)
    df.show()
except Exception as e:
    print("Error",e)

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  6|     Lucky|      null| 19|          Wickets|            null|       Adult|
|  7|      Anil|  Shaikpet| 14|      Tennis ball|          Tennis|       Adult|
+---+----------+----------+---+-----------------+----------------+------------+

In [145]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- age: long (nullable = true)
 |-- Purchased_Product: string (nullable = true)
 |-- Product_Category: string (nullable = true)

In [146]:
df

DataFrame[id: bigint, name: string, address: string, age: bigint, Purchased_Product: string, Product_Category: string]

In [147]:
type(df)

pyspark.sql.dataframe.DataFrame

In [148]:
df.columns

['id', 'name', 'address', 'age', 'Purchased_Product', 'Product_Category']

In [149]:
df.head(3)

[Row(id=1, name='Pervez', address='Tolichowki', age=22, Purchased_Product='Cricket bat', Product_Category='Cricket'),
 Row(id=3, name='Hari', address='Suncity', age=19, Purchased_Product='Wickets', Product_Category='Cricket'),
 Row(id=4, name='Kiran', address='Gachibowli', age=24, Purchased_Product='Tennis ball', Product_Category='Tennis')]

In [150]:
df.select(['name', 'id']).show()

+----------+---+
|      name| id|
+----------+---+
|    Pervez|  1|
|      Hari|  3|
|     Kiran|  4|
|    Prasad|  2|
|Chaithanya|  5|
+----------+---+

In [151]:
df.dtypes

[('id', 'bigint'),
 ('name', 'string'),
 ('address', 'string'),
 ('age', 'bigint'),
 ('Purchased_Product', 'string'),
 ('Product_Category', 'string')]

In [152]:
df.describe().show()

+-------+------------------+----------+----------+------------------+-----------------+----------------+
|summary|                id|      name|   address|               age|Purchased_Product|Product_Category|
+-------+------------------+----------+----------+------------------+-----------------+----------------+
|  count|                 5|         5|         5|                 5|                5|               5|
|   mean|               3.0|      null|      null|              23.2|             null|            null|
| stddev|1.5811388300841898|      null|      null|2.7748873851023212|             null|            null|
|    min|                 1|Chaithanya|Gachibowli|                19|     Cricket ball|         Cricket|
|    max|                 5|    Prasad|Tolichowki|                26|          Wickets|          Tennis|
+-------+------------------+----------+----------+------------------+-----------------+----------------+

In [29]:
df.columns

['id', 'name', 'address', 'age', 'Purchased_Product']

In [30]:
from pyspark.sql import functions as F

In [31]:
from pyspark import RDD

In [58]:
# Specify the column name from which you want to extract values
column_name = "Purchased_Product"

# Collect column values into a list
column_values = df.select(column_name).rdd.flatMap(lambda x: x).collect()

In [52]:
categ=[(i.split())[0] for i in column_values]

In [51]:
print(var)

['Cricket', 'Cricket', 'Wickets', 'Cricket', 'Cricket']

In [34]:
df.show()

+---+-------+----------+---+-----------------+
| id|   name|   address|age|Purchased_Product|
+---+-------+----------+---+-----------------+
|  1| Pervez|Tolichowki| 22|      Cricket bat|
|  2| Prasad|  Shaikpet| 26|     Cricket ball|
|  3|   Hari|   Suncity| 19|          Wickets|
|  4|Karthik|  Suryapet| 29|      Cricket bat|
|  5|Bhargav| Khajaguda| 24|     Cricket ball|
+---+-------+----------+---+-----------------+

In [164]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Purchased Product: string (nullable = false)

In [60]:
from pyspark.sql.functions import when

In [67]:
df = df.withColumn("Product_Category",
                   when(F.split(df[column_name], "\s+")[0]=="Wickets",F.lit("Cricket"))
                   .otherwise(F.lit("Cricket")))

In [68]:
df.show()

+---+-------+----------+---+-----------------+----------------+
| id|   name|   address|age|Purchased_Product|Product_Category|
+---+-------+----------+---+-----------------+----------------+
|  1| Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  2| Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  3|   Hari|   Suncity| 19|          Wickets|         Cricket|
|  4|Karthik|  Suryapet| 29|      Cricket bat|         Cricket|
|  5|Bhargav| Khajaguda| 24|     Cricket ball|         Cricket|
+---+-------+----------+---+-----------------+----------------+

In [167]:
df.count()

3

In [153]:
from pyspark.sql.types import *

In [154]:
new_df.groupby("Purchased_Product").agg(F.countDistinct("id")).show()

+-----------------+---------+
|Purchased_Product|count(id)|
+-----------------+---------+
|      Tennis ball|        1|
|          Wickets|        1|
|      Cricket bat|        1|
|       Tennis bat|        1|
|     Cricket ball|        1|
+-----------------+---------+

In [170]:
df = df.withColumnRenamed("Purchased Product","Purchased_Product")

In [171]:
df.show()

+---+---------------+-------------------+---+-----------------+
| id|           name|            address|age|Purchased_Product|
+---+---------------+-------------------+---+-----------------+
|  1|         Pervez|             Guntur| 22|     Cricket ball|
|  2|       John Doe|  123 Main St, City| 21|      Cricket bat|
|  3|Michael Johnson|789 Elm Rd, Village| 17|          Wickets|
+---+---------------+-------------------+---+-----------------+

In [94]:
from pyspark.sql import Row

In [114]:
new_row = Row(id=5, name='Chaithanya', address="Masab Tank", age=25, Purchased_Product="Tennis bat",Product_Category="Tennis")

In [101]:
new_row = [Row(id=1, name='Pervez', address='Tolichowki', age=22, Purchased_Product='Cricket bat',Product_Category="Cricket"),
 Row(id=2, name='Prasad', address='Shaikpet', age=26, Purchased_Product='Cricket ball',Product_Category="Cricket"),
 Row(id=3, name='Hari', address='Suncity', age=19, Purchased_Product='Wickets',Product_Category="Cricket"),Row(id=4, name='Kiran', address='Gachibowli', age=24, Purchased_Product='Tennis ball',Product_Category="Tennis"),]

In [115]:
df_new_row=spark.createDataFrame([new_row])

In [116]:
df_new_row.show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
+---+----------+----------+---+-----------------+----------------+

In [117]:
new_df=df_filtered.union(df_new_row)

In [118]:
new_df.show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
+---+----------+----------+---+-----------------+----------------+

In [112]:
df_filtered = new_df.filter(new_df["id"] != 5)

In [113]:
df_filtered.show()

+---+------+----------+---+-----------------+----------------+
| id|  name|   address|age|Purchased_Product|Product_Category|
+---+------+----------+---+-----------------+----------------+
|  1|Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  2|Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  3|  Hari|   Suncity| 19|          Wickets|         Cricket|
|  4| Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
+---+------+----------+---+-----------------+----------------+

In [253]:
new_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- age: long (nullable = true)
 |-- Purchased_Product: string (nullable = true)

In [121]:
new_df.count()

5

In [126]:
new_df.write.jdbc(url=mysql_url, table="Customers_data", mode="overwrite",properties=mysql_properties)

In [134]:
df_no_duplicates_specific = new_df.dropDuplicates().select("id","name","address","age","Purchased_Product","Product_Category")
df_no_duplicates_specific.show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
+---+----------+----------+---+-----------------+----------------+

In [156]:
df.show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
+---+----------+----------+---+-----------------+----------------+

In [158]:
df.describe().show()

+-------+------------------+----------+----------+------------------+-----------------+----------------+
|summary|                id|      name|   address|               age|Purchased_Product|Product_Category|
+-------+------------------+----------+----------+------------------+-----------------+----------------+
|  count|                 5|         5|         5|                 5|                5|               5|
|   mean|               3.0|      null|      null|              23.2|             null|            null|
| stddev|1.5811388300841898|      null|      null|2.7748873851023212|             null|            null|
|    min|                 1|Chaithanya|Gachibowli|                19|     Cricket ball|         Cricket|
|    max|                 5|    Prasad|Tolichowki|                26|          Wickets|          Tennis|
+-------+------------------+----------+----------+------------------+-----------------+----------------+

In [159]:
df.na.drop().show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
+---+----------+----------+---+-----------------+----------------+

In [161]:
new_row = Row(id=6, name='Lucky', age=19, Purchased_Product='Wickets')

In [162]:
df_new_row=spark.createDataFrame([new_row])

In [163]:
df_new_row.show()

+---+-----+---+-----------------+
| id| name|age|Purchased_Product|
+---+-----+---+-----------------+
|  6|Lucky| 19|          Wickets|
+---+-----+---+-----------------+

In [169]:
df.groupby("Product_Category").agg(F.countDistinct("id")).show()

+----------------+---------+
|Product_Category|count(id)|
+----------------+---------+
|          Tennis|        2|
|         Cricket|        4|
+----------------+---------+

In [170]:
df.drop("Product_Category").show()

+---+----------+----------+---+-----------------+
| id|      name|   address|age|Purchased_Product|
+---+----------+----------+---+-----------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|
|  3|      Hari|   Suncity| 19|          Wickets|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|
|  6|     Lucky|      null| 19|          Wickets|
+---+----------+----------+---+-----------------+

In [176]:
#how=any
#how=all
df.na.drop("any").show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
+---+----------+----------+---+-----------------+----------------+

In [177]:
df.na.drop("all").show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
|  6|     Lucky|      null| 19|          Wickets|         Cricket|
+---+----------+----------+---+-----------------+----------------+

In [182]:
#thres=2 means atleast 2 non-null values. It deletes all rows that doesnot have atleast 2 non-null values.
df.na.drop(how="any",thresh=5).show()

+---+----------+----------+---+-----------------+----------------+
| id|      name|   address|age|Purchased_Product|Product_Category|
+---+----------+----------+---+-----------------+----------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|
|  6|     Lucky|      null| 19|          Wickets|         Cricket|
+---+----------+----------+---+-----------------+----------------+

In [183]:
from pyspark.sql.functions import udf

In [227]:
@udf(returnType=StringType())
def mature(age):
    if age<=12:
        return "Child"
    elif age<=18:
        return "Teenager"
    else:
        return "Adult"

In [247]:
from pyspark.sql.functions import col
new_df = df_new_row.withColumn("Age_Category",mature(df_new_row["age"]))

In [248]:
new_df.show()

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
+---+----------+----------+---+-----------------+----------------+------------+

In [230]:
new_row = Row(id=7, name='Anil', address = "Shaikpet",age=14, Purchased_Product='Tennis ball',Product_Category="Tennis")

In [231]:
df_new_row = spark.createDataFrame([new_row])

In [218]:
df_new_row.show()

+---+----+--------+---+-----------------+----------------+
| id|name| address|age|Purchased_Product|Product_Category|
+---+----+--------+---+-----------------+----------------+
|  7|Anil|Shaikpet| 14|      Tennis ball|          Tennis|
+---+----+--------+---+-----------------+----------------+

In [232]:
df_new = df_new_row.withColumn("Age_Category", mature(df_new_row["age"]))

In [221]:
df_new.show()

+---+----+--------+---+-----------------+----------------+------------+
| id|name| address|age|Purchased_Product|Product_Category|Age_Category|
+---+----+--------+---+-----------------+----------------+------------+
|  7|Anil|Shaikpet| 14|      Tennis ball|          Tennis|    Teenager|
+---+----+--------+---+-----------------+----------------+------------+

In [233]:
df = df.union(df_new)

In [234]:
df.show()

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  6|     Lucky|      null| 19|          Wickets|         Cricket|       Adult|
|  7|      Anil|  Shaikpet| 14|      Tennis ball|          Tennis|    Teenager|
+---+----------+----------+---+-----------------+----------------+------------+

In [236]:
df.write.jdbc(url=mysql_url, table="Customers_data", mode="overwrite",properties=mysql_properties)

In [241]:
df.show()

+---+-----+--------+---+-----------------+----------------+------------+
| id| name| address|age|Purchased_Product|Product_Category|Age_Category|
+---+-----+--------+---+-----------------+----------------+------------+
|  7| Anil|Shaikpet| 14|      Tennis ball|          Tennis|    Teenager|
|  6|Lucky|    null| 19|          Wickets|            null|        null|
+---+-----+--------+---+-----------------+----------------+------------+

In [243]:
new_row = [Row(id=1, name='Pervez', address='Tolichowki', age=22, Purchased_Product='Cricket bat',Product_Category="Cricket"),
 Row(id=2, name='Prasad', address='Shaikpet', age=26, Purchased_Product='Cricket ball',Product_Category="Cricket"),
 Row(id=3, name='Hari', address='Suncity', age=19, Purchased_Product='Wickets',Product_Category="Cricket"),Row(id=4, name='Kiran', address='Gachibowli', age=24, Purchased_Product='Tennis ball',Product_Category="Tennis"),Row(id=5, name='Chaithanya', address="Masab Tank", age=25, Purchased_Product="Tennis bat",Product_Category="Tennis")]

In [244]:
df_new_row=spark.createDataFrame(new_row)

In [249]:
naya_df=df.union(new_df)

In [250]:
naya_df.show()

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  7|      Anil|  Shaikpet| 14|      Tennis ball|          Tennis|    Teenager|
|  6|     Lucky|      null| 19|          Wickets|            null|        null|
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
+---+----------+----------+---+-----------------+----------------+------------+

In [251]:
naya_df.write.jdbc(url=mysql_url, table="Customers_data", mode="overwrite",properties=mysql_properties)

In [254]:
df.show()

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  6|     Lucky|      null| 19|          Wickets|            null|       Adult|
|  7|      Anil|  Shaikpet| 14|      Tennis ball|          Tennis|       Adult|
+---+----------+----------+---+-----------------+----------------+------------+

In [263]:
df.na.drop(subset="address").show()

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  7|      Anil|  Shaikpet| 14|      Tennis ball|          Tennis|       Adult|
+---+----------+----------+---+-----------------+----------------+------------+

In [262]:
df.na.drop(thresh=6).show()

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  7|      Anil|  Shaikpet| 14|      Tennis ball|          Tennis|       Adult|
+---+----------+----------+---+-----------------+----------------+------------+

In [264]:
df.na.fill("Value is Missing").show()

+---+----------+----------------+---+-----------------+----------------+------------+
| id|      name|         address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------------+---+-----------------+----------------+------------+
|  1|    Pervez|      Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  5|Chaithanya|      Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  3|      Hari|         Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|      Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|        Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  6|     Lucky|Value is Missing| 19|          Wickets|Value is Missing|       Adult|
|  7|      Anil|        Shaikpet| 14|      Tennis ball|          Tennis|       Adult|
+---+----------+----------------+---+-----------------+----------------+------------+

In [265]:
df.na.fill("Value is Missing","address").show()

+---+----------+----------------+---+-----------------+----------------+------------+
| id|      name|         address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------------+---+-----------------+----------------+------------+
|  1|    Pervez|      Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  5|Chaithanya|      Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  3|      Hari|         Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|      Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|        Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  6|     Lucky|Value is Missing| 19|          Wickets|            null|       Adult|
|  7|      Anil|        Shaikpet| 14|      Tennis ball|          Tennis|       Adult|
+---+----------+----------------+---+-----------------+----------------+------------+

In [268]:
from pyspark.ml.feature import Imputer

In [275]:
# imputer = Imputer(inputCols=["address","Product_Category"],outputCols=["{}_imputed".format(c) for c in ["address","Prduct_Category"]]).setStrategy("mode")
# imputer.fit(df).transform(df).show()
# Works only for Numerical Columns

In [276]:
df.describe().show()

+-------+-----------------+------+----------+------------------+-----------------+----------------+------------+
|summary|               id|  name|   address|               age|Purchased_Product|Product_Category|Age_Category|
+-------+-----------------+------+----------+------------------+-----------------+----------------+------------+
|  count|                7|     7|         6|                 7|                7|               6|           7|
|   mean|              4.0|  null|      null|21.285714285714285|             null|            null|        null|
| stddev|2.160246899469287|  null|      null|  4.23140188409963|             null|            null|        null|
|    min|                1|  Anil|Gachibowli|                14|     Cricket ball|         Cricket|       Adult|
|    max|                7|Prasad|Tolichowki|                26|          Wickets|          Tennis|       Adult|
+-------+-----------------+------+----------+------------------+-----------------+----------------+------------+

In [277]:
most_freq_address = df.groupBy().agg({"address": "min"}).collect()[0][0]
most_freq_product_category = df.groupBy().agg({"Product_Category": "min"}).collect()[0][0]

df.fillna({"address": most_freq_address, "Product_Category": most_freq_product_category}).show()

+---+----------+----------+---+-----------------+----------------+------------+
| id|      name|   address|age|Purchased_Product|Product_Category|Age_Category|
+---+----------+----------+---+-----------------+----------------+------------+
|  1|    Pervez|Tolichowki| 22|      Cricket bat|         Cricket|       Adult|
|  5|Chaithanya|Masab Tank| 25|       Tennis bat|          Tennis|       Adult|
|  3|      Hari|   Suncity| 19|          Wickets|         Cricket|       Adult|
|  4|     Kiran|Gachibowli| 24|      Tennis ball|          Tennis|       Adult|
|  2|    Prasad|  Shaikpet| 26|     Cricket ball|         Cricket|       Adult|
|  6|     Lucky|Gachibowli| 19|          Wickets|         Cricket|       Adult|
|  7|      Anil|  Shaikpet| 14|      Tennis ball|          Tennis|       Adult|
+---+----------+----------+---+-----------------+----------------+------------+